
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> SYMDEV local ###
/lib/*
!/lib/.gitkeep
/lib/mindpool/*
!/lib/mindpool/.gitkeep
/lib/stefanwiegmann/*
!/lib/stefanwiegmann/.gitkeep
###< symfony/phpunit-bridge ###
