
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> SYMDEV local ###
/uploads/avatar/group/*
/uploads/avatar/user/*
/uploads/avatar/role/*
!/uploads/avatar/group/.gitkeep
!/uploads/avatar/user/.gitkeep
!/uploads/avatar/role/.gitkeep
/src/Migrations/*
!/src/Migrations/.gitkeep
###< SYMDEV local ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
