/* general */
html,
body {
  /* font-family: 'Open Sans', sans-serif; */
  /* padding-top: 5px; */
  /*padding-bottom: 20px;*/
  height: 100%;
}

/* #main {
      background-color: ##A569BD
       min-height: 100%;
       position: relative;
} */
