{% extends 'layout.html.twig' %}

{% block main %}

<div class="row justify-content-md-center my-3"><!-- row 1 -->

  <div class="col-md-3 text-md-center">

    <div class="jumbotron">
      <h1 class="display-4">PT Sans</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

  <div class="col-md-3 text-md-center">

    <div class="jumbotron font-actor">
      <h1 class="display-4">Actor</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

  <div class="col-md-3 text-md-center">

    <div class="jumbotron font-karla">
      <h1 class="display-4">Karla</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

  <div class="col-md-3 text-md-center">

    <div class="jumbotron font-nunito">
      <h1 class="display-4">Nunito Sans</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

</div>

<div class="row justify-content-md-center my-3"><!-- row 1 -->

  <div class="col-md-3 text-md-center">

  </div>

  <div class="col-md-3 text-md-center">

    <div class="jumbotron font-oxygen">
      <h1 class="display-4">Oxygen</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

  <div class="col-md-3 text-md-center">

    <div class="jumbotron font-titillium">
      <h1 class="display-4">Titillium Web</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

  <div class="col-md-3 text-md-center">

    <div class="jumbotron font-fjalla">
      <h1 class="display-4">Fjalla One</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  </div>

</div>

{% endblock main %}
