<footer class="footer">

      <div class="row"><!-- main row -->
          <div class="column mx-auto text-muted">
              © 2023 by Stefan Wiegmann | <a href="{{ path('fonts') }}">Font examples</a>
          </div>
    </div>

</footer>
