{% extends 'base.html.twig' %}

{% block body %}

    {% block nav %}
        {% embed "nav.html.twig" %}{% endembed %}
    {% endblock nav %}

    {% block alert %}
        {% embed "alert.html.twig" %}{% endembed %}
    {% endblock alert %}

    <div id="main">
        {% block main %}

            <div class="row"><!-- main row -->

                <div class="col-sm-2"><!-- left menu column -->

                    {% block menuBlock %}
                        <div class="card my-3" id="menuBlock">

                            <div class="card-header">
                                {% block menuTitle %}menuTitle{% endblock menuTitle %}
                            </div>

                            <ul class="nav flex-column">
                                {% block menuContent %}
                                    <li class="nav-item active"><a class="nav-link" href="#">menuContent A</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">menuContent B</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">menuContent C</a></li>
                                {% endblock menuContent %}
                            </ul>

                        </div><!-- menuBlock -->
                    {% endblock menuBlock %}

                    {% block filterBlock %}
                        <div class="card my-3" id="filterBlock">

                            <div class="card-header">
                                {% block filterTitle %}filterTitle{% endblock filterTitle %}
                            </div>

                            <div class="card-body">
                                {% block filterContent %}filterContent{% endblock filterContent %}
                            </div>

                        </div><!-- filterBlock -->
                    {% endblock filterBlock %}

                </div><!-- left menu column -->

                <div class="col-sm-10"><!-- right content column -->

                    {% block pageHeader %}
                        <div class="row" id="pageHeader">

                            <!-- page title column -->
                            <div class="col-sm-auto">
                                <div class="h2">
                                    {% block pageTitle %}pageTitle{% endblock pageTitle %}
                                </div>
                            </div>
                            <!-- spacer -->
                            <div class="col">
                            </div>

                            <!-- page menu column -->
                            <div class="col-sm-auto text-right">
                                {% block pageMenu %}pageMenu{% endblock pageMenu %}
                            </div>

                        </div><!-- pageHeader -->
                    {% endblock pageHeader %}

                    <div class="container-fluid" id="content">
                        {% block content %}content{% endblock content %}
                    </div>

                </div><!-- right content column -->

            </div><!-- main row -->

        {% endblock main %}
    </div><!-- main -->

    {% block footer %}
        {% embed "footer.html.twig" %}{% endembed %}
    {% endblock footer %}

{% endblock body %}
